body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  color: white;
}
h1 {
  display: grid;
  width: 80%;
  margin: auto;
  padding-bottom: 20px;
}
.playlist-image{
  width: 100px;
}
.playlist-card{
  margin: 10px;
}
.aside {
  width: 80%;
  display: grid;
  margin: auto;
}
.aside-title{
  display: block;
  width: 100%;
}
.playlist-container{
  width: 100%;
  overflow-x: scroll;
  display: flex;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  
}
.playlist-container:hover{  /* IE and Edge */
  scrollbar-width: thin;
  scrollbar-color: #0A4C95; 
}
/* .playlist-container::-webkit-scrollbar{
  background-color: rgba(128, 128, 128, 0.3);
  height: 1px;
} */
.cards-container{
  display: grid;
  width: 80%;
  margin: auto;
}
.image-container{
  overflow: hidden;
  width: 100%;
  position: relative;
}
.buttons-container{
  border: white 2px solid black;
  position: absolute;
  width: 100%;
  height: 100%;
  /* top: 0; */
  left: 0;
  right:0;
  /* bottom:0; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(75, 74, 77, 0);
  z-index: 2;
}
.wrapper {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 100%;
}
/* .image:hover {
  filter: brightness(50%);
} */
/* .buttons-container:hover{
  background-color: rgba(75, 74, 77, 0.514);
} */
/* .image:hover ~  .buttons-container{
  display:flex;
} */
.buttons-container:hover ~ .image {
  filter: brightness(50%);
}
.buttons-container:hover .wrapper {
  visibility: visible;
}

.play-button{
  /* z-index: 1; */
  width: 30%;
  margin: auto;
  filter: invert(100%);
  opacity: 0.5;
  /* transition: 0.5s; */
}

.play-button:hover {
  transform: scale(1.3);
  opacity: 1;
  transition: 1s;
}
.heart {
  filter: invert(100%);
  width: 10%;
  margin: auto;
}
.dots {
  filter: invert(100%);
  width: 10%;
  margin: auto;
  opacity: 0.7;
}
.image{
  width: 100%;
  object-fit: cover;
  z-index: 3;
  transition-duration: 0.2s;
}

.album-card{
  margin-bottom: 30px;
}

.artist-name{
  color: white;
  text-decoration: none;
  margin-right: 5px;
}

/* .artist-name:not(:first-child, :last-child):before{
  color: #a0a0a0;
  content: ", ";
}
.artist-name:last-child::before {
  content: " & ";
  color: #a0a0a0;
} */
/* .artist-name:only-child::before { 
  content: ""; 
} */
/* .artist-name:first-child {
  color: red;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


@media (min-width: 658px){
  .cards-container{
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
  .content-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-items: start;
  }
  .playlist-container{
    flex-direction: column;
    align-self: start;
    overflow-x: hidden;
  }
  .aside{
    display: flex;
    flex-direction: column;
    align-self: start;
    margin: 0 0 0 20px;
  }

}

@media (min-width: 1024px){
  .cards-container{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
  }
}
